.slick-next {
    right: 1rem !important;
    
}

.slick-prev {
    left: 1rem !important;
}

.slick-next, .slick-prev {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: block;
    padding: 0;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: inherit !important;
    border: none;
    transform: translate(0,-50%);
}

.slick-next .slick-next-icon, .slick-next .slick-prev-icon, .slick-prev .slick-next-icon, .slick-prev .slick-prev-icon {
    display: block;
    color: inherit !important;
    opacity: .75;
    font-family: slick;
    font-size: 2rem !important;
    line-height: 1;
}

.slick-next .slick-next-icon:before {
    content: "→";
}

.slick-prev .slick-prev-icon:before {
    content: "←";
}
.slick-next:focus .slick-next-icon, .slick-next:focus .slick-prev-icon, .slick-prev:focus .slick-next-icon, .slick-prev:focus .slick-prev-icon {
    color: orange !important;
    font-size: 2rem !important;
    margin-left: -2px;
}
.slick-next:focus .slick-next-icon, .slick-next:focus .slick-prev-icon, .slick-next:hover .slick-next-icon, .slick-next:hover .slick-prev-icon, .slick-prev:focus .slick-next-icon, .slick-prev:focus .slick-prev-icon, .slick-prev:hover .slick-next-icon, .slick-prev:hover .slick-prev-icon {
    opacity: 1;
}
